* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "alata";
    src: url("../public/fonts/Alata-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "josefin";
    src: url("../public/fonts/JosefinSans-Light.ttf");
    font-weight: 300;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --DarkGray: hsl(0, 0%, 55%);
    --VeryDarKGray: hsl(0, 0%, 41%);
}

html {
    font-size: 15px;
}
body {
    background-color: var(--White);
}

h2 {
    font-family: "josefin";
    font-weight: 300;
    color: var(--Black);
    font-size: 2.3rem;
}
@media only screen and (max-width: 880px) {
    h2 {
        margin-bottom: 15px;
    }
}
